<mat-toolbar class="menu" role="header" color="primary">
    <mat-toolbar-row>
      <button mat-button class="toolbar__icon-button mat-button">
        <mat-icon>web</mat-icon>
        <span style="margin-left: 5px !important;">WEB 425</span>
      </button>
      <button mat-button class="mat-button">
        About
      </button>
      <button mat-button class="mat-button">
        Contact Us
      </button>
  
      <div fxFlex></div>
  
      <!-- User Profile -->
      <button class="toolbar__icon-button" [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu" style="padding-right: 100px">
        <button mat-menu-item>
          <mat-icon>Profile</mat-icon>
          <span>My Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>Settings</mat-icon>
          <span>Change settings here</span>
        </button>
        <button mat-menu-item>
          <mat-icon>Logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
     <div fxFlex=".01%" class="left">no yes yes</div>

     <div class="wrapper">
        <div class="frm-login">
          <mat-card class="login-panel frm-login-panel">
            <mat-card-header class="frm-login-header">
              <mat-toolbar class="frm-login-toolbar">
                Login Form
              </mat-toolbar>
            </mat-card-header>
      
            <mat-card-content class="frm-login-body">
              <mat-form-field>
                <input type="text" matInput placeholder="Username">
              </mat-form-field>
      
              <mat-form-field>
                <input type="password" matInput placeholder="Password">
              </mat-form-field>
      
            </mat-card-content>
      
            <mat-card-actions class="frm-login-actions">
              <button mat-flat-button color="warn" style="margin:5px">Clear</button>
              <button mat-flat-button color="warn">Sign In</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
     </div>
  
  
  