

<!--start sidenav-->


<main-nav>


<!--END side nav-->

<!--start login -->
<div class="wrapper" fxLayout="column" fxLayoutGap="10px" 
fxLayoutAlign="center" fxLayoutWrap fxLayoutGap="0.5%">
  <div class="container" style="padding-bottom: 20px">
    <mat-card>
      <h2>Parent</h2>
      <div>
        Roses are: <input type="text" placeholder="Enter color" [(ngModel)]="myGreeting">
      </div>
      <br>
      <div>
        Violets are: <input type="text" placeholder="Enter color" [(ngModel)]="myUser.name">
      </div>
      </mat-card>
  </div>
  <div class="container">
    <mat-card>
      <app-child [greeting]="myGreeting" [user]="myUser"></app-child>
    </mat-card>
  </div>
</div>




  
</main-nav>



<!--END sign in APPLICATION-->

